<h1> Main Quotes page</h1>

<ul>
<% Quote.all.each do |quote| %>
  <li><a href = "/quotes/<%=quote.id%>"><%=quote.content%> - <%=quote.author%></a></li>
  <% end %>
</ul>

<form action = "/logout" method = "GET">
  <input type = "submit" value = "Log Out">
</form>
