<h1>Fill in your quote and author here</h1>

<form action = "/quotes" method = "POST">
  Quote: <textarea name = "content"></textarea><br><br>
  Author: <input type = "text" name = "author"><br><br>

  <input type = "submit" value = "Submit">
</form>
