<h1><%=@quote.content%></h1>
<h3>- <%=@quote.author%></h3>

<form action = "/quotes/<%=@quote.id%>/edit" method = "GET">
  <input type = "submit" value = "Edit this quote">
</form>

<form action = "/quotes/<%=@quote.id%>/delete" method = "POST">
  <input id = "hidden" type = "hidden" name = "_method" value = "DELETE">
  <input type = "submit" value = "Delete this quote">
</form>
