<h1>Welcome to Motivational Quotes!</h1>

<form action = "/login" method = "GET">
  <input type = "submit" value = "Log In">
</form>

<form action = "/signup" method = "GET">
  <input type = "submit" value = "Sign Up">
</form>
